% setdefault('napaka', '')
%rebase('ogrodje.html',napaka=napaka)
<form action="{{url('prikaz_clanov')}}">
    <td>
        <div class="buttons">
            <button class="button is-info">Nazaj</button>
          </div>
    </td>
  </form>
  <form method="POST">
    <div class="field">
        <label class="label"> ime</label>
        <div class="control has-icons-left">
            <input class="input" name="ime" type="text" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Ime mora biti dodano')">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
    </div>
    <div class="field">
        <label class="label">priimek</label>
        <div class="control has-icons-left">
            <input class="input" name="priimek" type="text" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Priimek mora biti dodan')">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
    </div>
    <div class="field">
        <label class="label">emso</label>
        <div class="control has-icons-left">
            <input class="input" name="emso" type="number"required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Emso mora biti dodan in mora biti število')">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
    </div>
    <div class="field">
        <label class="label">Funkcija</label>
        <div class="control">
          <div class="select">
            <select name="funkcija">
                %for f in funkcije:
                <option>{{f[1]}}</option>
                %end
            </select>
          </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Čin</label>
        <div class="control">
          <div class="select">
            <select name="cin">
                %for c in cin:
                <option>{{c[1]}}</option>
                %end
            </select>
          </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Zadnji zdravniški pregled</label>
        <div class="control has-icons-left">
            <input class="input" name="zd" type="date">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
    </div>

    <hr> 
    
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-info">dodaj člana</button>
        </div>
    </div>
    
</form>