% setdefault('napaka', '')
%rebase('ogrodje.html',napaka=napaka)
<form action="{{url('tekmovanje')}}">
    <td>
        <div class="buttons">
            <button class="button is-info">Nazaj</button>
          </div>
    </td>
  </form>
&nbsp
<form method="POST" action="{{url('post_dodaj_tekmovanje')}}">
  <label class="label">Tip tekmovanja</label>
    <div class="select">
        <select name="tip_tek">
            %for t in tip_tekmo :
            <option>{{t[1]}}</option>
            %end
        </select>
      </div>
  
    <div class="field">
        <label class="label">Lokacija</label>
        <div class="control has-icons-left">
            <input class="input" name="lokacija" type="text" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Lokacija mora biti dodana')">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
    </div>

  <div class="field">
    <label class="label">Datum</label>
    <div class="control has-icons-left">
        <input class="input" name="datum" type="date"required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Dodaj datum')">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
&nbsp
</div>
  <button class="button is-info">dodaj tekmovanje</button>
</form>