

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gasilski pomočnik</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/b1b31e483a.js" crossorigin="anonymous"></script>
</head>


<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-item" href="/">
                    <span class="icon">
                        <i class="fire-extinguisher"></i>
                    </span>
                    <strong>GASILSKI POMOČNIK</strong>
                </span>
            </div>
        </div>                        
    </nav>
    <section class="section">
        % if napaka:
        <div class="notification is-danger">
            {{napaka}}
        </div>
        % end

        <h3 class="title is-3">Prijava</h3>
&nbsp
<form action="{{url('registracija_get')}}">
  <td>
      <div class="control has-icons-left">
          <div class="buttons">
              <button class="button is-primary">Registracija</button>
          </div>
      </div>
  </td>
</form>
&nbsp

  <form class="box" action="{{url('prijava_post')}}" method="post" autocomplete="off">
    <div class="field">
      <label class="label">Uporabniško ime</label>
      <div class="control">
        <input id="uporabnisko_ime" name="uporabnisko_ime" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
      </div>
    </div>
  
    <div class="field">
      <label class="label">Geslo</label>
      <div class="control">
        <input id="geslo" name="geslo" type="password" placeholder="********" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
      </div>
    </div>
  
    <button class="button is-primary" type="submit">Prijava</button>
  </form>
  </section>
</body>

</html>

