% setdefault('napaka', '')
%rebase('ogrodje.html',napaka=napaka)
<style>
  table {
    width: 100%;
  }
</style>
<h2 class="title is-3">INTERVENCIJE</h2>
&nbsp
<table>

    <td>
        <form action="{{url('osnovna_stran')}}">
            <td>
                <div class="buttons">
                    <button class="button is-info">Nazaj</button>
                  </div>
            </td>
          </form>
    </td>
        <form action="{{url('dodaj_intervencijo')}}">
            <td>
                <div class="buttons">
                    <button class="button is-info">Dodaj intervencijo</button>
                </div>
            </td>
        </form>
    <td>

    </td>
</table>

<hr>


% for id,opis,datum,tip in inte:
<article class="message is-info">
    <div class="message-header">
      <p>{{tip_int[tip - 1][1]}} dne: {{datum}} </p>
      <form method="POST" action="{{url(odstrani_intervencijo')}}">
        <input type="hidden" name="id" value="{{id}}" >
        <button class="delete" aria-label="delete"></button>
      </form>
      
    </div>
    <div class="message-body">
        <ul><strong>Opis:</strong> {{opis}}</ul> 
        
    </div>
    <form action="{{url('prikaz_intervencije')}}" method="POST">
      <input type="hidden" name="id" value="{{id}}" >
      <div class="buttons">
          <button class="button is-primary">Pregled</button>
        </div>
  </form> 
  </article>
  %end