% setdefault('napaka', '')
%rebase('ogrodje.html',napaka=napaka)
<style>
  table {
    width: 100%;
  }
</style>
<form action="{{url('/')}}">
  <td>
      <div class="buttons">
          <button class="button is-info">Nazaj</button>
        </div>
  </td>
</form>
        <table class="table">
          <thead>
            <tr>
              <th>IME</th>
              <th>PRIIMEK</th>
              <th>EMŠO</th>
              <th>FUNKCIJA</th>
              <th>ČIN</th>
              <th>ZADNJI ZDRAVNIŠKI PREGLED</th>
            </tr>
          </thead>
          
          <tbody>
            %for emso,ime,priimek,funkcija,cin,zdravniski, aktiven in clani:
              <tr>
                <th>{{ime}}</th>
                <th>{{priimek}}</th>
                <th>{{emso}}</th>
                <th>{{fun[funkcija - 1][1]}}</th>
                <th>{{c[cin - 1][1]}}</th>
                %if not zdravniski:
                  <th><b>POZOR! Ni opravljen!</b></th>
                %else:
                  <th>{{zdravniski}}</th>
                %end
                <th>
                  <form method="POST" action="{{url('odstrani_clana')}}">
                    <input type="hidden" name="emso" value="{{emso}}">
                    <button class="button is-info">Odstrani člana</button>
                  </form>
                </th>
                <th>
                  <form method="POST" action="{{url('preusmeritev_popravi_clan')}}">
                    <input type="hidden" id="emso" name="emso" value="{{emso}}">
                    <button class="button is-info">Popravi podatke</button>
                  </form>
                </th>
            %end
          </tbody>   
      <table>
        <tr>
          <form action="{{url('dodaj_clana')}}">
            <td>
                <div class="buttons">
                    <button class="button is-info">DODAJ ČLANA</button>
                  </div>
            </td>
          </form>
        </tr>
      </table>
          

          
        