% setdefault('napaka', '')
%rebase('ogrodje.html',napaka=napaka)


  <h4 class="title is-4">OPREMA ČLANOV</h4>

  <form action="{{url('/')}}">
    <td>
        <div class="buttons">
            <button class="button is-info">Nazaj</button>
          </div>
    </td>
  </form>
          <table class="table">
            <thead>
              <tr>
                <th>PRIIMEK</th>
                <th>IME</th>
              </tr>
            </thead>
            
            <tbody>
              %for emso,ime,priimek in clani:
                <tr>
                    <th>{{priimek}}</th>
                    <th>{{ime}}</th>
                  <th>
                    
                    <a href="{{url('preusmeritev_pregled_opreme',emso=emso)}}" class="button is-info" name="id_kategorije" value="{{emso}}">
                        Poglej opremo </a>
                    
                  </th>
              %end
            </tbody>   
