% setdefault('napaka', '')
%rebase('ogrodje.html',napaka=napaka)

<table>
    <td>
        <form action="/">
            <td>
                <div class="buttons">
                    <button class="button is-info">Nazaj</button>
                  </div>
            </td>
          </form>
    </td>
    <td>
        &nbsp
    </td>
        <form action="/dodaj_vajo/">
            <td>
                <div class="buttons">
                    <button class="button is-info">Dodaj vajo</button>
                </div>
            </td>
        </form>
    <td>

    </td>
</table>
&nbsp
<h1 class="title is-4">VAJE</h1>
%for id,obvezna,tip_vaje,datum,ime,priimek in vaje:
    <form method="POST" action="/odstrani_vajo/">
        %if obvezna:
            <div class="notification is-info">
                <button class="delete"></button>
                <input type="hidden" name="id_vaje" value="{{id}}">
                <b> Obvezna </b>  vaja <b>{{tip[tip_vaje - 1][1]}}</b> dne <b>{{datum}}</b>  VODJA:<b> {{priimek}} {{ime}}</b>
            </div>
            &nbsp
            
        %else:
            <div class="notification is-info">
                <button class="delete"></button>
                <input type="hidden" name="id_vaje" value="{{id}}">
                <b> Neobvezna </b>  vaja <b>{{tip[tip_vaje - 1][1]}}</b> dne <b>{{datum}}</b>  VODJA:<b> {{priimek}} {{ime}}</b>
            </div>
            &nbsp
        %end
</form>
%end